
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0.5em;
    line-height: 1.6;
    background-color: white;
    color: #000;
    text-align: left;
}


nav {
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;
}

.page-links {
    margin-bottom: 10px;
}

.page-links a {
    margin: 0 10px 0 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    color: purple;
}

.page-links a:hover {
    color: #000;
}


.logo-wrap {
    margin: 10px 0;
}

.logo-wrap img {
    height: 210px;
    display: block;
    border: none;
    background: none;
}



header {
    text-align: left;
    padding: 5px 10px;
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
}

header h1 {
    color: black;
    margin: 0;
    font-size: 2.2rem;
}



header span {
    font-size: 1.1em;
    color: #000;
    display: block;
    margin-top: 5px;
}


main {
    max-width: 900px;
    margin: 0;
    padding: 0;
    text-align: left;
}


.department-box {
  border: 2px solid #4CAF50;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 2em;
  width: 80%;
}


.employee-list {
  border: 2px solid lightgreen;
  border-radius: 8px;
  width: 400%;        /* stretches to parent width */
  box-sizing: border-box;
}




.department h3 {
    color: #000;
    margin-bottom: 5px;
    font-size: 1.3rem;
    padding-left: 0;
}

.employee-list li {
    padding: 4px 0;
    border: none;
}


footer {
    text-align: left;
    padding: 10px 0;
    font-size: 0.9em;
    color: #000;
    border-top: none;
    margin-top: 20px;
}

.page-links {
    margin-bottom: 0;
}

.organization-group {
  border: 2px solid lightgreen;
  border-radius: 10px;
  padding: 1em;
  margin: 1.5em 0;
  background: #f9fff9;
}

.organization-group.vacant-group {
  border: 2px dashed #90ee90;
  background: #fcfffc;
}

.organization-item {
  border: 2px solid lightgreen;
  border-radius: 8px;
  padding: 0.8em;
  margin: 1em 0;
  width: 60%;
}


.role-description {
  margin-top: 0.5em;
  font-size: 0.9rem;
  color: #333;
  white-space: normal;     
  line-height: 1.4;       
}

input[type="text"] {
  width: 250px;
  height: 40px;
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 6px;
}

